<!DOCTYPE html>
<html>

<head>
    <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="section has-text-centered"> 

    <div class="title is-2 has-text-primary">Frida's App</div> 

    <div class="buttons is-centered mt-4"> 
        <a class="button is-link is-light" href="{{ url_for('home') }}">
            Frida's Home
        </a>
        <a class="button is-link is-light" href="{{ url_for('all_pages') }}">
            Pages
        </a>
        <a class="button is-link is-light" href="{{ url_for('about') }}">
            About
        </a>
    </div>

    <div class="content mt-6">
        {% block content %}{{ page_content }}{% endblock %}
    </div>

</body>

</html>
